.body {
    /* flex: 4; */
    background-color: rgb(187, 205, 181);
}
.UserTable{
display: flex;
}
.flexLeft{
    flex: 1;
}
.flexRight{
    flex: 4;
}

#Table{
    width: 500px;
background-color: #04AA6D;
}